.chat_window {
    max-width: 420px;
    width: 100%;
    height: 100%;
    /* margin-left: 64px; */
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.chat_header {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.profile_picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.profile_name {
    font-weight: bold;
}

.messages {
    flex-grow: 1;
    overflow-y: auto;
    display: flex;
    padding: 15px;
    line-height: 1.2;
    flex-direction: column;
    align-items: flex-start;
}

.message_container {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
    width: 100%;
}

.message_time {
    font-weight: 600;
    font-size: 10px;
    color: #999;
    margin-left: 4px;
    margin-right: 4px;
    padding-bottom: 12px;
}

.spacer {
    width: 120px;

}

.message_assistant {
    display: inline-flex;
    align-self: flex-start;
    max-width: 70%;
    padding: 12px 20px;
    margin: 5px 0;
    border-radius: 0px 15px 15px 15px;
    word-break: break-all;
    background-color: #22232c;
    color: white;
    align-items: flex-start;
    justify-content: flex-start;
    width: fit-content;
}

.message_user {
    display: inline-flex;
    max-width: 70%;
    padding: 12px 20px;
    margin: 5px 0;
    word-break: break-all;
    justify-content: flex-start;
    width: fit-content;
    align-self: flex-end;
    border-radius: 15px 0px 15px 15px;
    background-color: #eeeeee;
    color: black;
}

.input_area {
    box-sizing: border-box;
    flex-basis: 4rem;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    padding: 0 0.5rem 1rem 1.5rem;
}

.input_area input {
    border: none;
    background-image: none;
    background-color: white;
    padding: 0.5rem 1.5rem;
    margin-right: 1rem;
    border-radius: 30px;
    flex-grow: 2;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1),
        0rem 1rem 1rem -1rem rgba(0, 0, 0, 0.2);
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.025em;
    line-height: 1.2;
    outline: none;
    width: 100%;
    height: 48px;
    position: relative;
    z-index: 10;

    &::placeholder {
        color: #999;
    }
}

.input_area i {
    font-size: 1.5rem;
    margin-right: 1rem;
    color: #666;
    cursor: pointer;
    transition: color 200ms;
    align-content: center;

    &:hover {
        color: #22232c;
    }
}

.input_area button {
    padding: 8px 12px;
    margin-left: 5px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.gen_button_container {
    display: flex;
    align-content: center;
    justify-content: center;
    padding-bottom: 15px;
    width: 100%;
    height: 42px;
    animation: height-grow 1s forwards;
    animation-timing-function: ease;
}

.gen_button {
    width: 50%;
    height: 35px;
    border-radius: 10em;

    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;
    cursor: pointer;
}

.gen_button::before {
    content: '';
    position: absolute;
    width: 200%;
    height: 650%;
    background: linear-gradient(#ff9393, #bac0ff);
    animation: spin 2s infinite linear;
}

.gen_button::after {
    content: '✏️ Generate 📔';
    position: absolute;
    background-color: white;
    width: 97%;
    height: 82%;
    border-radius: 10em;
    font-size: 0.8rem;
    color: #666;
    font-weight: 600;

    display: flex;
    align-items: center;
    justify-content: center;
}

.gen_button:hover {
    animation: scale_up 0.2s forwards;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

@keyframes height-grow {
    0% {
        padding-top: 45px;
        padding-bottom: 0px;
        height: 0;
    }
    100% {
        padding-top: 0px;
        height: 42px;
    }
}

@keyframes scale_up {
    0% {
        scale: 1;
    }
    100% {
        scale: 1.1;
    }
}

.date_container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 4px;
}

.date_container p {
    font-weight: 600;
    font-size: small;
    color: #999;
    margin-top: 1px;
}
